.layout {
  width: 50%;
  height: 560px;
  flex-shrink: 0;
  align-items: center;
  background: var(--Light-green-background, #EFF6F3);
}



.img-container {
  width: 100%;
  height: auto;
  max-width: 100px;
  float: left;
  
}

.img-container2 {
  width: 50%;
  height: auto;
  float: right;
}

.btn-primary {
  display: flex;
  width: 219px;
  height: 56px;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  float: center;
  border-radius: 4px;
  background: var(--Dark-green-buttons, #3A4F39);
}

.btn-secondary {
  display: flex;
  width: 219px;
  height: 56px;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  color: var(--withe, #FFFFFF);
  background: var(--Dark-green-buttons, #3A4F39);
}

.tipografy1 {
  width: 410px;
  color: var(--black-fonts-headings, #2D2E2E);
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.paragraf1 {
  width: 390px;
  color: var(--black-fonts-headings, #2D2E2E);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
}

.tipografy2 {
  width: 410px;
  color: var(--black-fonts-headings, #2D2E2E);
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.paragraf2 {
  width: 390px;
  color: var(--black-fonts-headings, #2D2E2E);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
}


